body {
    position: relative;
    width: 1000px;
    height: 860px;
    overflow: hidden;    
    
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 428px;
    height: 65%;
    position: absolute;
    margin:auto;
    background-color: rgb(132, 194, 223);
    padding: 20px;
    border-radius: 0 44% 24% 0;
    left: 10px;
    top: 10px;
}

.logo img {
    position: relative;
    border-radius: 100%;
    padding-bottom: 20px;
    left: 25px;
    top: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 350px;

}

.btn {
    font-size: 3rem;
    position: relative;
    height: 90px;
    width: 80%;
    bottom: 0%;
    left: 7%;
    border-radius: 15px;
    background-color: white;

}

.btn img{
    padding-left: 25px;

}


input{
    font-size: 0.8rem;
    width: 28%;
    height: 49px;
    display: inline-block;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 8px;
    
       
}

#adultos{
    margin-left: 20px;
    margin-top: 20px;

}

.backgroundimg img {

    overflow-clip-margin: content-box;
    overflow: clip;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 100%;
    top: 35%;
}

#resultado{
    background: rgb(132, 194, 223);
    font-size: 2rem;
    line-height: 1.6em;
    border-radius: 15px;
    width: 300px;
    height: auto;
    color: #fff;
    position: absolute;
    margin-top: 30px;
    left: 745px;
    top: -10px;
    width: 475px;
}
#resultado:after{ /*Triangulo*/
    content: "";
    width: 0px;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(132, 194, 223);/*Faz seta "apontar para baixo*/
    bottom: -20px; /*localização.*/
    left: 30%;
}

#resultado p{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}


.balao{
    background: rgb(132, 194, 223);
    font-size: 2rem;
    line-height: 1.6em;
    border-radius: 15px;
    width: 300px;
    height: auto;
    color: #fff;
    padding: 20px;
    position: absolute;
    margin-top: 30px;
    top: 224px;
    left: 850px;
    display: block;
    
}
.balao:after{ /*Triangulo*/
    content: "";
    width: 0px;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(132, 194, 223);/*Faz seta "apontar para baixo*/
    bottom: -20px; /*localização.*/
    left: 30%;
}

    




